# Gradle 缓存与本地配置
.gradle/
local.properties
/build/
/alibaba/
/wenziyun/
# IDE 配置文件
.idea/
*.iml

# APP 模块编译产物
app/build/
app/release/

# 【核心】排除敏感文件
app/src/main/java/com/example/clouddisk/Config.java
my_key
*.jks
*.keystore

# 系统残留
.DS_Store

# 助手教学文档
Teach.txt
wenziyun.zip
alibaba.zip